
header {
    background-color: black;
    padding: 20px 50px;
    margin-bottom: 30px;
}
header h1 {
    color :  white;
    margin: 0px;
    font-weight: 300;
    font-style:  italic;
}

.account {
    display: flex;
}

.account-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.account-main {
    width: calc(100vw - 300px);
}
.account-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: black;
}

.account-icons {
    width: 40px;
    fill: white;
}
.active svg path {
    width: 40px;
    fill: white;
}


.account-actions {
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.active {
    background-color: black;
}

.active h3 {
    color: white;
    border-bottom: 2px solid white;
}

/*Account page designs*/
.account-desktop-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-mobile-view {
    display: none;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.account-mobile-actions {
    height: 100px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-mobile-action {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-details {
    width: 350px;
    min-height: 200px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.185);
    margin: 10px 0px;
    padding: 4px;
    padding-bottom: 10px;
}

.account-notification {
    width: 800px;
    margin: 0px;
    margin-top: 40px;
    
}
.account-details-header {
    position: relative;
    top: -4px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 4px 8px;
    font-style: italic;
    font-weight: 500;
}
.acount-notificaation-button {
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
}

.acount-notificaation-button button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}

.account-mobile-settings {
    background-color: rgba(242, 242, 242, 1);
    border-radius: 10px;
}

.account-mobile-settings-list {
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}


.account-edit {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    max-width: 900px;
}

.account-edit-butt{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}

.account-edit-div input:focus {
    outline: none;
}

.account-edit-butt button{
    position: relative;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
}

/*Notification page designs...*/
.notify-main {
    width: calc(100% - 50px);
    height: 600px;
    padding-top: 50px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.notify-div {
    width : 100%;
    height: 100px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    display: flex;

}

.notify-details {
    width: 100%;
}

.notify-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notify-head h3 {
    margin: 0px;
    background-color: rgba(93, 95, 239, 1);
    padding: 5px;
    color: white;
    font-weight: lighter;
    font-style: italic;
}

.notify-head h5 {
    margin: 0px;
    display: flex;
    align-items: center;
}


/*Addres book related styles*/
.address-main {
    position: relative;
    padding: 50px 20px
}

.address-title {
    margin : 0px;
    font-weight: 700;
    font-style: italic;

}

.address-list {
    margin: 20px 0px;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.address-card {
    width : 700px;
    height: 200px;
    background-color:rgba(242, 242, 242, 1);
    margin-bottom: 40px;
    padding : 20px
}

.address-new-butt {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 40px;
}

.address-default {
    width: 750px;
}

.address-card-div {
    display: flex;
    justify-content: space-between;
}

.address-card-actions {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.address-default .address-card-actions {
    justify-content: center;
}

.address-edit {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px
}

.address-close {
    position: absolute;
    top  : 5px;
    right: 5px;
}

.address-input {
    width: 70% !important;
    margin-bottom: 20px;
    min-height: 40px;
}

.address-input:focus {
    outline: none;
}

textarea.address-input{
    height:  200px;
    min-height: 50px;
}

.address-edit button{
    position: relative;
    width: 100px;
    height: 405px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.address-default-butt {
    background-image: linear-gradient(rgba(156, 176, 249, 1), rgba(41, 64, 148, 1));
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/*Payment info related css..*/
.payment-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.payment-header {
    width: 100%;
    max-width: 1000px;
    margin: 10px 0px;
}
.payment-cards-list{
    width : 100%;
    max-width : 1000px;
    background-color: rgba(242, 242, 242, 1);
    height: 200px;
}
.payment-card {
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding-right: 20px;
}

.payment-card-detail {
    background: radial-gradient(5% 97% at left, transparent 50%, white 51%);
    width: 100%;
    height: 40px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-add{
    width: 100%;
    max-width: 1000px;
    background-color: rgba(242, 242, 242, 1);
    margin-top: 10px;
    padding: 40px;
    padding-bottom: 20px;
}
.payment-add-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;

}

.payment-input-div {
    position: relative;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.471);
    border-radius: 5px;
    height: 40px;
    padding: 4px;
}
.payment-input-div h5 {
    background-color: rgba(242, 242, 242, 1);
    margin: 0;
    position: absolute;
    top : -10px;
    left: 7px;
}

.payment-input {
    border : none;
    height: 100%;
    background-color: transparent;
    width: 100%;
}

.payment-input:focus {
    outline: none;
}

.payment-add-butt {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.payment-add-butt button {
    border: none;
    color: white;
    font-weight: bold;
    width : 100px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(rgba(156, 176, 249, 1), rgba(41, 64, 148, 1));
}

/* Order relaeted styles*/
.order-div {
    margin-top: 40px;
    width: 80%;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius : 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    height: 100px;
    padding :5px
}


.order-image-holder {
    display: flex;
    height: inherit;
}

.order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.order-image {
    margin: auto;
    background-color: rgba(229, 229, 229, 1);
    width : 130px;
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
}

.order-div:hover img { 
    border: 3px solid rgba(229, 229, 229, 1);
}
.order-details{
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
}
.order-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-details-main {
    padding: 20px;
}

.order-status-line {
    border-bottom: 2px solid black;
}
.order-status {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top : -15px
}

.order-status-div {
    width : 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.order-status-div h5{
    text-align: center;
}

.order-detail-div {
    background-color: rgba(238, 238, 238, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 15px;
    padding: 20px;
    width: 700px;
    margin-top: 30px;
}


@media screen and (max-width : 1100px) {
    .address-card {
        width: 100%;
    }

    /*Account related views*/
    .account-details-view {
        flex-direction: column;
        width: 80%;
    }

    .account-details {
        margin-left: 0px !important;
        margin-bottom: 20px;
        width: 100%;
    }

    .account-notification {
        width: 90%;
    }

}


@media screen and (max-width : 780px) {
    header h1 {
        text-align: center    ;
    }
    .account-side {
        display: none;
    }

    .account-main {
        width : 100%;
    }
    
    /*Notification related styles*/
    .notify-main {
        margin: 20px;
    }
    
    /*Address related styles */
    .address-main {
        padding: 0px;
    }

    .address-card {
        width: 90%;
    }
    .address-default {
        width: 100%;
    }
    .address-edit {
        width: 90%;
    }

    .address-input {
        width: 100% !important;
    }

    .address-header {
        display: none !important;
    }

    .address-mobile-add {
        display: flex !important;
        background-color: black;
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.509);
    }

    /*Account related views*/
    .account-desktop-view {
        display: none;
    }
    
    .account-mobile-view {
        display: block;
    }

    .account-edit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account-edit-div label h3 {
        margin: 10px 0px 5px 0px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.6);
    }

    .account-edit-div div , .account-edit-div input {
        border : none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.323) !important;
    }
    .account-edit-butt {
        width: 100%;
        justify-content: center;
    }

    .account-edit-butt button {
        width: 90%;
        height: 70px;
    }
    

    /*Payment styels*/
    .payment-add-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .payment-input-div {
        margin-top: 20px;
    }
    .payment-add-butt {
        justify-content: center;
    }
    .payment-add-butt button {
        width: 100%;
    }

    /*Order related styles */
    .order-detail-div{
        width: 100%;
    }


}