.cart-header {
    position : relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-info {
    margin-top: 20px;
    display: flex;
    justify-content: center
}

.cart-details {
    width: 650px;
    
}

.cart-checkout {
    width : 350px;
    height : 350px;
    border : 2px solid rgba(0,0,0,0.4);
    padding: 20px 0px 20px 20px;
}

.image-holder {
    width: 30%;
    background-color: rgba(240, 240, 240, 1);
    border:  rgba(229, 229, 229, 1) 2px solid;
    border-radius: 5px;
}

.cart-details-info {
    width : 30%;
    height: 220px;
    position: relative;
    padding-left: 10px;
}