.checkout-main {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.checkout-data {
    display : grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 50px;
}

.checkout-person {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px; column-gap: 20px;
}

.checkout-address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px; column-gap: 20px;
}


[type='radio'] {
    width: 20px;
    height: 20px;
}

.checkout-delivery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: rgba(0, 0, 0, 0.344) 2px solid;
    border-radius: 5px;
    height: 50px;
}

.selected {
    background-color: rgba(0, 61, 255, 0.12);
    border-color: rgba(0, 61, 255, 1);
}

.checkout-payment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.checkout-payment-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.checkout-sku {
    display: flex;
    margin-bottom: 20px;
}

.checkout-sku-img {
    display: flex;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(229, 229, 229, 1);
}

.checkout-sku-details {
    padding-left: 10px;
}

@media screen and (max-width : 780px) {
    .checkout-main {
        display: flex;
        flex-direction: column;
    }

    .checkout-payment-main {
        width: 100%;
    }
}