.home-bg {
    background: url('../assets/logo3.png');
    width : 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 35vh;
    margin-bottom : 40px
}

.home-bg-2 {
    background: url('../assets/back.png');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position : absolute;
}

.home-shop-butt {
    background-color: black;
    color : white;
    width: 150px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: bolder;
    position: absolute;
    bottom: 15vh;
    right : 15vw
}

.home-collection {
    margin : 50px 20px;
    width  : calc(100% - 40px);
    height : 400px;
    background-image: linear-gradient(321deg, #357edd, #edb2e8);
    border-radius: 10px;
    position : relative;
}

.home-collection-image-holder {
    width: 100%;
    display : flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
}

.home-collection-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    align-items: flex-start;
    justify-content: flex-end;
    padding : 30px 10px
}

.home-collection-text h1 {
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 10px;
}

.home-butt {
    background-image: linear-gradient(180deg,rgba(156, 176, 249, 1),  rgba(41, 64, 148, 1) );
    border-style: none;
    width : 150px;
    height : 60px;
    border-radius: 8px;
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.home-collage {
    position: relative;
}
.home-collage div{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.home-collage div button{
    width : 200px;
    height: 50px;
    margin-bottom : 60px;
}

.home-category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 20px 20vw
}

.home-category-section-1 {
    height: 400px;
    width: 50%;
    padding-right : 30px
}
.home-category-section-2 {
    padding-left : 30px;
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-sub-category {
    width : 100%;
    height : 45%
}

.home-cat-image {
    position: absolute;
    width : 65%;
    top : -50px;
    right: -30px;
}
.home-cat-text {
    color: white;
    position: absolute;
    bottom: 0px;
    font-style: italic;
    padding-left: 20px;
}

.div-notify {
    width: calc(100% - 40px);
    margin : 40px 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.402);
    border-bottom: 2px solid rgba(0, 0, 0, 0.402);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
}

.div-notify h4 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

.notify-input {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.402);
    width: 60%;
    border-radius: 10px;
    height: 40px;
    padding: 4px 7px; 
}
.notify-input input {
    border: none;
    width: 75%;
    height: 100%;
    background-color: transparent;
}

.notify-input input:focus {
    outline: none;
}

.notify-input button {
    border: none;
    background-color: black;
    color : white;
    font-style: italic;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;

}
@media screen  and (max-width : 900px) {
    .home-category {
        padding: 20px 15vw;
    }
    
    .home-category-section-1 {
        height: 300px;
    }
}
@media screen and (max-width : 780px) {
    .home-bg, .home-bg-2 {
        height: 400px;
        background-size: contain;
    }
    .home-bg-2 {
        background-size : auto 100%;
    }
    
    .home-shop-butt {
        bottom : 40px;
        right : 40px;
        width : 100px;
        height: 30px;
        border-radius:5px;
        font-size : small
    }
    
    .home-collection{
        background-image: none;
        margin: 50px 0px;
        width: 100%;
        position: static;
        height: fit-content;
    }
    
    .home-collection-image-holder {
        position: static;
        justify-content: center;
        background-image: linear-gradient(321deg, #357edd, #edb2e8);
    }

    .home-collection-text{
        position: static;
        padding : 30px;
        width: 100%;
    }

    .home-collection-text h1 {
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .home-category {
        padding: 20px;
    }
    .home-category-section-1 {
        height: 300px;
        padding-right: 15px;
    }

    .home-category-section-2{
        padding-left: 15px;
    }

    .home-cat-image {
        right : 0px
    }
    .home-collage div button{
        width : 150px;
        height: 35px;
        margin-bottom : 0%;
    }
    .notify-input {
        width: 100%;
    }
    .notify-input input {
        width: 60%;
    }
    .notify-input button {
        width: 40%;
    }
}

@media screen and (max-width : 520px) {
    .home-category-section-1 {
        height: 200px;
    }
    .home-category-section-2 {
        height: 300px;
    }
    
    .home-cat-image{
        top : -22px;
        width: 80%;
    }
}
