.modal {
    background-color: rgba(0, 0, 0, 0.494);
    width : 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position : fixed;
    z-index: 2;
    top: 0px;
    left : 0px
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
    align-items: center;
}

.modal-top{
    justify-content: center;
    align-items: flex-start;
}

.bottom {
    justify-content: center;
    align-items: flex-end;
}

.fave-modal {
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 20px;
}

.cart-modal {
    width: 780px;
    height: 400px;
    background-color: white;
    padding: 20px;
}

.fave-modal-info {
    display: flex;
    padding-top: 10px;
}
.cart-modal-info {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.cart-modal-info-1 {
    width : 300px;
     
}

.fave-modal-info-1 {
    display: flex;
}

.fave-color {
    width : 30px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
}

.fave-size {
    width : 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    padding-top: 7px;
}

.fave-view {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-weight: 900;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.cart-view {
    margin-top: 10px;
    width: 47%;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width : 780px) {
    .cart-modal {
        height: 100vh;
    }
    .cart-modal-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        height: calc(100vh - 60px);
    }
    .cart-modal-info-1, .cart-modal-info-2 {
        width: 100% !important;
    }
    .cart-modal-info-2 {
        margin: 0px !important;
    }
}